body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 1s ease-in-out;
  }
  
  .container {
    padding: 30%;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 90%;
  }
  
  .quote-box-for-image {
    color: #333;
  }
  
  #quote-text {
    background-color: rgb(186, 219, 219);
    color: blueviolet;
    border-radius: 8px;
    font-size: 1.8rem;
    font-style: italic;
  }
  
  #quote-author {
    background: fixed;
    color: rgb(94, 0, 181);
    text-align: right;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .buttons {
    margin-top: 50px;
  
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #007bff;
    color: white;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #0056b3;
  }

  .popup{
    position: fixed;
    border-radius: 8px;
    top: 50%;
    left: 60%;
    background-color: #962f9d;
    color: white;
    padding: 10px 20px;
    font-size: 0.9rem;
    opacity: 0;               /* hidden by defaukt */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

  }

  .popup.show{
    opacity: 1;
    visibility: visible;
  }